# DATA TYPES IN PYTHON

- STRING
- NUMERIC
    - Integer
    - Float
- BOOLEAN
- NONE
- COLLECTION
    - List
    - Tuple
    - Dictionary
    - Set

# 1) STRING

Strings in python are surrounded by either single quatation marks or double quatation marks

- '         '
- "         "
- """       """

###### - Python has a set of built-in methods that you can use on strings.

- `Method------------------->Description`
    - `capitalize()`	Converts the first character to upper case
    - `casefold()`	Converts string into lower case
    - `center()`	Returns a centered string
    - `count()`	Returns the number of times a specified value occurs in a string
    - `encode()`	Returns an encoded version of the string
    - `endswith()`	Returns true if the string ends with the specified value
    - `expandtabs()`	Sets the tab size of the string
    - `find()`	Searches the string for a specified value and returns the position of where it was found
    - `format()`	Formats specified values in a string
    - `format_map()`	Formats specified values in a string
    - `index()`	Searches the string for a specified value and returns the position of where it was found
    - `isalnum()`	Returns True if all characters in the string are alphanumeric
    - `isalpha()`	Returns True if all characters in the string are in the alphabet
    - `isascii()`	Returns True if all characters in the string are ascii characters
    - `isdecimal()`	Returns True if all characters in the string are decimals
    - `isdigit()`	Returns True if all characters in the string are digits
    - `isidentifier()`	Returns True if the string is an identifier
    - `islower()`	Returns True if all characters in the string are lower case
    - `isnumeric()`	Returns True if all characters in the string are numeric
    - `isprintable()`	Returns True if all characters in the string are printable
    - `isspace()`	Returns True if all characters in the string are whitespaces
    - `istitle()`	Returns True if the string follows the rules of a title
    - `isupper()`	Returns True if all characters in the string are upper case
    - `join()`	Converts the elements of an iterable into a string
    - `ljust()`	Returns a left justified version of the string
    - `lower()`	Converts a string into lower case
    - `lstrip()`	Returns a left trim version of the string
    - `maketrans()`	Returns a translation table to be used in translations
    - `partition()`	Returns a tuple where the string is parted into three parts
    - `replace()`	Returns a string where a specified value is replaced with a specified value
    - `rfind()`	Searches the string for a specified value and returns the last position of where it was found
    - `rindex()`	Searches the string for a specified value and returns the last position of where it was found
    - `rjust()`	Returns a right justified version of the string
    - `rpartition()`	Returns a tuple where the string is parted into three parts
    - `rsplit()`	Splits the string at the specified separator, and returns a list
    - `rstrip()`	Returns a right trim version of the string
    - `split()`	Splits the string at the specified separator, and returns a list
    - `splitlines()`	Splits the string at line breaks and returns a list
    - `startswith()`	Returns true if the string starts with the specified value
    - `strip()`	Returns a trimmed version of the string
    - `swapcase()`	Swaps cases, lower case becomes upper case and vice versa
    - `title()`	Converts the first character of each word to upper case
    - `translate()`	Returns a translated string
    - `upper()`	Converts a string into upper case
    - `zfill()`	Fills the string with a specified number of 0 values at the beginning

#

###### capitalize() Converts the first character to upper case

In [1]:
txt = "hello, and welcome to my world."

txt.capitalize()

'Hello, and welcome to my world.'

In [2]:
txt = "python is FUN!"

txt.capitalize()

'Python is fun!'

In [3]:
txt = "36 is my age."

txt.capitalize()

'36 is my age.'

###### casefold() Converts string into lower case

In [5]:
txt = "Hello, And Welcome To My World!"

txt.casefold()

'hello, and welcome to my world!'

###### center()	Returns a centered string

SYNTAX

string.center(length, character)

length	Required. The length of the returned string
character	Optional. The character to fill the missing space on each side. Default is " " (space)

In [8]:
txt = "banana"

txt.center(20)

'       banana       '

In [6]:
txt = "banana"

txt.center(20, "O")

'OOOOOOObananaOOOOOOO'

In [11]:
txt = "Hello, And Welcome To My World!"
txt.center(40,"3")

'3333Hello, And Welcome To My World!33333'

###### count()	Returns the number of times a specified value occurs in a string

SYNTAX

string.count(value, start, end)


value	Required. A String. The string to value to search for
start	Optional. An Integer. The position to start the search. Default is 0
end	Optional. An Integer. The position to end the search. Default is the end of the string

In [15]:
txt = "Hello, And Welcome To My World!"
txt.count("o")

4

In [16]:
txt = "Hello, And Welcome To My World! Hello, And Welcome To My World! Hello, And Welcome To My World!"
txt.count("my")

0

In [17]:
txt = "Hello, And Welcome To My World! Hello, And Welcome To My World! Hello, And Welcome To My World!"
txt.count("My")

3

In [27]:
txt = "I love apples, apple are my favorite fruit"

txt.count("apple", 0, 24)

2

In [28]:
txt = "I love apples, apple are my favorite fruit"

txt.count("apple", 7, 24)

2

In [29]:
txt = "I love apples, apple are my favorite fruit"

txt.count("apple", 8, 24)

1

In [30]:
txt = "I love apples, apple are my favorite fruit"

txt.count("apple", 17, 24)

0

###### encode()	Returns an encoded version of the string

SYNTAX

string.encode(encoding=encoding, errors=errors)


- encoding	Optional. A String specifying the encoding to use. Default is UTF-8
- errors	Optional. A String specifying the error method. Legal values are:
    - 'backslashreplace'	- uses a backslash instead of the character that could not be encoded
    - 'ignore'	- ignores the characters that cannot be encoded
    - 'namereplace'	- replaces the character with a text explaining the character
    - 'strict'	- Default, raises an error on failure
    - 'replace'	- replaces the character with a questionmark
    - 'xmlcharrefreplace'	- replaces the character with an xml character

In [ ]:
txt = "My name is Ståle"

txt.encode()

In [33]:
txt = "I love apples, apple are my favorite fruit"

txt.encode()

b'I love apples, apple are my favorite fruit'

In [34]:
txt = "I love apples, apple are my favorite fruit"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'I love apples, apple are my favorite fruit'
b'I love apples, apple are my favorite fruit'
b'I love apples, apple are my favorite fruit'
b'I love apples, apple are my favorite fruit'
b'I love apples, apple are my favorite fruit'

In [35]:
txt = "My name is Ståle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

###### endswith()	Returns true if the string ends with the specified value

SYNTAX

string.endswith(value, start, end)



value	Required. The value to check if the string ends with
start	Optional. An Integer specifying at which position to start the search
end	Optional. An Integer specifying at which position to end the search

In [39]:
txt = "Hello, welcome to my world."

txt.endswith(".")

True

In [40]:
txt = "Hello, welcome to my world"

txt.endswith("rld")

True

In [43]:
txt = "Hello, welcome to my world"

txt.endswith("myworld")

False

In [44]:
txt = "Hello, welcome to my world"

txt.endswith("my world")

True

In [55]:
#Check if position 5 to 27 ends with the phrase "my world.":

txt = "Hello, welcome to my world."

txt.endswith("my world.", 5, 27)

True

In [56]:
# Check if position 19 to 27 ends with the phrase "my world.":

txt = "Hello, welcome to my world."

txt.endswith("my world.", 19, 27)

False

###### expandtabs()	Sets the tab size of the string

SYNTAX

string.expandtabs(tabsize)

tabsize	Optional. A number specifying the tabsize. Default tabsize is 8

In [60]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

###### find()	Searches the string for a specified value and returns the position of where it was found

SYNTAX

string.find(value, start, end)

value	Required. The value to search for
start	Optional. Where to start the search. Default is 0
end	Optional. Where to end the search. Default is to the end of the string

In [68]:
txt = "Hello, welcome to my world."
txt.find("welcome")

7

In [70]:
# Where in the text is the first occurrence of the letter "e"

txt = "Hello, welcome to my world."
txt.find("e")

1

In [71]:
# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10

txt = "Hello, welcome to my world."
txt.find("e", 5, 10)

8

In [74]:
txt = "Hello, welcome to my world."
txt.find("r", 15, 27)

23

In [77]:
txt = "Hello, welcome to my world."

print(txt.find("r"),"index fing by find method")
print(txt.index("r"),"index find by index method")

23 index fing by find method
23 index find by index method

###### format()	Formats specified values in a string

string.format(value1, value2...)

value1, value2...	Required. One or more values that should be formatted and inserted in the string. The values are either a list of values separated by commas, a key=value list, or a combination of both. The values can be of any data type.

In [79]:
txt = "For only {price:.2f} dollars!"
txt.format(price = 49)

'For only 49.00 dollars!'

In [80]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

In [81]:
txt1,txt2,txt3

("My name is John, I'm 36",
 "My name is John, I'm 36",
 "My name is John, I'm 36")

###### Formatting Types


Inside the placeholders you can add a formatting type to format the result:

:<		Left aligns the result (within the available space)
:>		Right aligns the result (within the available space)
:^		Center aligns the result (within the available space)
:=		Places the sign to the left most position
:+		Use a plus sign to indicate if the result is positive or negative
:-		Use a minus sign for negative values only
: 		Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)
:,		Use a comma as a thousand separator
:_		Use a underscore as a thousand separator
:b		Binary format
:c		Converts the value into the corresponding unicode character
:d		Decimal format
:e		Scientific format, with a lower case e
:E		Scientific format, with an upper case E
:f		Fix point number format
:F		Fix point number format, in uppercase format (show inf and nan as INF and NAN)
:g		General format
:G		General format (using a upper case E for scientific notations)
:o		Octal format
:x		Hex format, lower case
:X		Hex format, upper case
:n		Number format
:%		Percentage format

###### index()	Searches the string for a specified value and returns the position of where it was found

string.index(value, start, end)

value	Required. The value to search for
start	Optional. Where to start the search. Default is 0
end	Optional. Where to end the search. Default is to the end of the string

In [82]:
txt = "Hello, welcome to my world."
txt.index("welcome")

7

In [83]:
# Where in the text is the first occurrence of the letter "e"?:

txt = "Hello, welcome to my world."
txt.index("e")

1

In [84]:
# Where in the text is the first occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."
txt.index("e", 5, 10)

8

###### isalnum()	Returns True if all characters in the string are alphanumeric

In [85]:
# Check if all the characters in the text are alphanumeric:

txt = "Company12"
txt.isalnum()

True

In [86]:
txt = "Company 12"
txt.isalnum()

False

###### isalpha()	Returns True if all characters in the string are in the alphabet

In [87]:
# Check if all the characters in the text is alphabetic:

txt = "Company10"
txt.isalpha()

False

In [88]:
txt = "Company 10"
txt.isalpha()

False

###### isascii()	Returns True if all characters in the string are ascii characters

In [91]:
# Check if all the characters in the text are ascii characters:

txt = "Company123"
txt.isascii()

True

###### isdecimal()	Returns True if all characters in the string are decimals

In [92]:
# Check if all the characters in a string are decimals (0-9):

txt = "1234"
txt.isdecimal()

True

###### isdigit()	Returns True if all characters in the string are digits

In [96]:
# Check if all the characters in the text are digits:

txt = "50800"
txt.isdigit()

True

###### isidentifier()	Returns True if the string is an identifier

In [98]:
txt = "Demo"
txt.isidentifier()

True

In [100]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

###### islower()	Returns True if all characters in the string are lower case

In [103]:
# Check if all the characters in the text are in lower case:

txt = "hello world!"
txt.islower()

True

In [102]:
# Check if all the characters in the texts are in lower case:

a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

###### isupper()	Returns True if all characters in the string are upper case

In [105]:
# Check if all the characters in the text are in upper case:

txt = "THIS IS NOW!"
txt.isupper()

True

In [106]:
# Check if all the characters in the texts are in upper case:

a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

###### isnumeric()	Returns True if all characters in the string are numeric

In [107]:
# Check if all the characters in the text are numeric:

txt = "565543"
txt.isnumeric()

True

In [109]:
# Check if the characters are numeric:

c = "10km2"
d = "-1"
e = "1.5"


print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

False
False
False

###### isprintable()	Returns True if all characters in the string are printable

In [111]:
# Check if all the characters in the text are printable:

txt = "Hello! Are you #1?"
txt.isprintable()

True

In [117]:
# Check if all the characters in the text are printable:

txt = "Hello! \n Are you #1?"
txt.isprintable()

False

###### isspace()	Returns True if all characters in the string are whitespaces

In [118]:
# Check if all the characters in the text are whitespaces:

txt = "   "
txt.isspace()

True

In [119]:
# Check if all the characters in the text are whitespaces:

txt = "   s   "
txt.isspace()

False

###### istitle()	Returns True if the string follows the rules of a title

In [120]:
# Check if each word start with an upper case letter:

txt = "Hello, And Welcome To My World!"
txt.istitle()

True

In [121]:
# Check if each word start with an upper case letter:

a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

###### join()	Converts the elements of an iterable into a string

In [122]:
# Join all items in a tuple into a string, using a hash character as separator:

myTuple = ("John", "Peter", "Vicky")
"#".join(myTuple)

'John#Peter#Vicky'

In [126]:
# Join all items in a dictionary into a string, using the word "TEST" as separator:

myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

mySeparator.join(myDict)

'nameTESTcountry'

###### ljust()	Returns a left justified version of the string

In [129]:
# Return a 20 characters long, left justified version of the word "banana":

txt = "banana"
txt.ljust(10)

'banana    '

In [130]:
# Using the letter "O" as the padding character:

txt = "banana"
txt.ljust(20, "O")

'bananaOOOOOOOOOOOOOO'

###### rjust()	Returns a right justified version of the string

In [131]:
# Return a 20 characters long, right justified version of the word "banana":

txt = "banana"
txt.rjust(10)

'    banana'

In [132]:
# Using the letter "O" as the padding character:

txt = "banana"
txt.rjust(20, "O")

'OOOOOOOOOOOOOObanana'

###### lower()	Converts a string into lower case

In [133]:
# Lower case the string:

txt = "Hello my FRIENDS"
txt.lower()

'hello my friends'

###### upper()	Converts a string into upper case

In [134]:
# Upper case the string:

txt = "Hello my friends"
txt.upper()

'HELLO MY FRIENDS'

###### lstrip()	Returns a left trim version of the string

In [136]:
# Remove spaces to the left of the string:

txt = "     banana     "
txt.lstrip()

'banana     '

In [139]:
# Remove the leading characters:

txt = ",,,,,ssaaww.....banana"
txt.lstrip(",.asw")

'banana'

###### rstrip()	Returns a right trim version of the string

In [140]:
# Remove any white spaces at the end of the string:

txt = "     banana     "
txt.rstrip()

'     banana'

In [141]:
txt = "banana,,,,,ssqqqww....."
txt.rstrip(",.qsw")

'banana'

###### maketrans()	Returns a translation table to be used in translations

SYNTAX 

str.maketrans(x, y, z)

x	Required. If only one parameter is specified, this has to be a dictionary describing how to perform the replace. If two or more parameters are specified, this parameter has to be a string specifying the characters you want to replace.
y	Optional. A string with the same length as parameter x. Each character in the first parameter will be replaced with the corresponding character in this string.
z	Optional. A string describing which characters to remove from the original string.

In [143]:
# Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:

txt = "Hello Sam!"
a = str.maketrans("S", "P")
txt.translate(a)

'Hello Pam!'

In [149]:
# Use a mapping table to replace many characters:

txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
txt.translate(mytable)

'Hi Joe!'

In [148]:
# The third parameter in the mapping table describes characters that you want to remove from the string:

txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
txt.translate(mytable)

'G i Joe!'

###### partition()	Returns a tuple where the string is parted into three parts

SYNTAX

string.partition(value)

value	Required. The string to search for

In [150]:
# Search for the word "bananas", and return a tuple with three elements:

# 1 - everything before the "match"
# 2 - the "match"
# 3 - everything after the "match"

txt = "I could eat bananas all day"
txt.partition("bananas")

('I could eat ', 'bananas', ' all day')

In [153]:
# If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string:

txt = "I could eat bananas all day"
txt.partition("apples")

('I could eat bananas all day', '', '')

###### replace()	Returns a string where a specified value is replaced with a specified value

SYNTAX 

string.replace(oldvalue, newvalue, count)

oldvalue	Required. The string to search for
newvalue	Required. The string to replace the old value with
count	Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences

In [155]:
# Replace the word "bananas":

txt = "I like bananas"
txt.replace("bananas", "apples")

'I like apples'

In [156]:
# Replace all occurrence of the word "one":

txt = "one one was a race horse, two two was one too."
txt.replace("one", "three")

'three three was a race horse, two two was three too.'

In [162]:
# Replace the two first occurrence of the word "one":

txt = "one one was a race horse, two two was one too."
txt.replace("one", "three",1)

'three one was a race horse, two two was one too.'

###### rfind()	Searches the string for a specified value and returns the last position of where it was found

In [163]:
# Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."
txt.rfind("casa")

12

###### rindex()	Searches the string for a specified value and returns the last position of where it was found

SYNTAX

string.rindex(value, start, end)

value	Required. The value to search for
start	Optional. Where to start the search. Default is 0
end	Optional. Where to end the search. Default is to the end of the string

In [1]:
# Where in the text is the last occurrence of the string "casa"?:

txt = "Mi casa, su casa."
txt.rindex("casa")

12

In [3]:
# Where in the text is the last occurrence of the letter "e"?

txt = "Hello, welcome to my world."
txt.rindex("e")

13

In [4]:
# Where in the text is the last occurrence of the letter "e" when you only search between position 5 and 10?:

txt = "Hello, welcome to my world."
txt.rindex("e", 5, 10)

8

###### rpartition()	Returns a tuple where the string is parted into three parts

In [5]:
# Search for the last occurrence of the word "bananas", and return a tuple with three elements:

# 1 - everything before the "match"
# 2 - the "match"
# 3 - everything after the "match"

txt = "I could eat bananas all day, bananas are my favorite fruit"
txt.rpartition("bananas")

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

###### rsplit()	Splits the string at the specified separator, and returns a list

SYNTAX

string.rsplit(separator, maxsplit)

separator	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator
maxsplit	Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [7]:
# Split a string into a list, using comma, followed by a space (, ) as the separator:

txt = "apple, banana, cherry"
txt.rsplit(", ")

['apple', 'banana', 'cherry']

In [9]:
# Split the string into a list with maximum 2 items:

txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
txt.rsplit(", ", 1)

['apple, banana', 'cherry']

###### split()	Splits the string at the specified separator, and returns a list

SYNTAX

string.split(separator, maxsplit)

separator	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator
maxsplit	Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [11]:
# Split a string into a list where each word is a list item:

txt = "welcome to the jungle"
txt.split()

['welcome', 'to', 'the', 'jungle']

In [12]:
# Split the string, using comma, followed by a space, as a separator:

txt = "hello, my name is Peter, I am 26 years old"
txt.split(", ")

['hello', 'my name is Peter', 'I am 26 years old']

In [13]:
# Use a hash character as a separator:

txt = "apple#banana#cherry#orange"
txt.split("#")

['apple', 'banana', 'cherry', 'orange']

In [15]:
# Split the string into a list with max 2 items:

txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
txt.split("#", 1)

['apple', 'banana#cherry#orange']

###### splitlines()	Splits the string at line breaks and returns a list

In [16]:
# Split a string into a list where each line is a list item:

txt = "Thank you for the music\nWelcome to the jungle"
txt.splitlines()

['Thank you for the music', 'Welcome to the jungle']

###### startswith()	Returns true if the string starts with the specified value

SYNTAX 

string.startswith(value, start, end)

value	Required. The value to check if the string starts with
start	Optional. An Integer specifying at which position to start the search
end	Optional. An Integer specifying at which position to end the search

In [17]:
# Check if the string starts with "Hello":

txt = "Hello, welcome to my world."
txt.startswith("Hello")

True

In [18]:
# Check if position 7 to 20 starts with the characters "wel":

txt = "Hello, welcome to my world."
txt.startswith("wel", 7, 20)

True

###### strip()	Returns a trimmed version of the string

SYNTAX


string.strip(characters)


characters	Optional. A set of characters to remove as leading/trailing characters

In [20]:
# Remove spaces at the beginning and at the end of the string:

txt = "     banana     "
txt.strip()

'banana'

In [21]:
# Remove the leading and trailing characters:

txt = ",,,,,rrttgg.....banana....rrr"
txt.strip(",.grt")

'banana'

###### swapcase()	Swaps cases, lower case becomes upper case and vice versa

In [22]:
# Make the lower case letters upper case and the upper case letters lower case:

txt = "Hello My Name Is PETER"
txt.swapcase()

'hELLO mY nAME iS peter'

###### title()	Converts the first character of each word to upper case

In [23]:
# Make the first letter in each word upper case:

txt = "Welcome to my world"
txt.title()

'Welcome To My World'

In [24]:
# Make the first letter in each word upper case:

txt = "Welcome to my 2nd world"
txt.title()

'Welcome To My 2Nd World'

In [25]:
# Note that the first letter after a non-alphabet letter is converted into a upper case letter:

txt = "hello b2b2b2 and 3g3g3g"
txt.title()

'Hello B2B2B2 And 3G3G3G'

###### translate()	Returns a translated string

In [26]:
# Replace any "S" characters with a "P" character:

#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83 :  80}
txt = "Hello Sam!"
txt.translate(mydict)

'Hello Pam!'

In [27]:
# Use a mapping table to replace "S" with "P":

txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
txt.translate(mytable)

'Hello Pam!'

###### zfill()	Fills the string with a specified number of 0 values at the beginning

SYNTAX

string.zfill(len)

len	Required. A number specifying the desired length of the string

In [28]:
# Fill the string with zeros until it is 10 characters long:

txt = "50"
txt.zfill(10)

'0000000050'

In [32]:
# Fill the strings with zeros until they are 10 characters long:

a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000